{% extends 'base.html.twig' %}

{% block title %}{% trans %}profile.change_password.text{% endtrans %}{% endblock %}

{% block body %}

<div>
    {{ form_start(form)}}
    <div class="form-group row">
        <div class="col-12 pt-1 col-sm-3 col-form-label">
            {{ form_label(form.oldPassword) }}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.oldPassword) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 pt-1 col-sm-3 col-form-label">
            {{ form_label(form.plainPassword.first) }}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.plainPassword.first) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 pt-1 col-sm-3 col-form-label">
            {{ form_label(form.plainPassword.second) }}
        </div>
        <div class="col-12 col-sm-9">
            {{ form_widget(form.plainPassword.second) }}
        </div>
    </div>
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}
</div>
{% endblock %}
