{% extends 'base.html.twig' %}

{% block title %}Mój profil{% endblock %}

{% block body %}
    <h3>Mój profil</h3>
    <p>{% trans %}Id{% endtrans %}: {{ app.user.id }}</p>
    <p>{% trans %}firstName{% endtrans %}: {{ app.user.firstName }}</p>
    <p>{% trans %}lastName{% endtrans %}: {{ app.user.lastName }}</p>
    <p>{% trans %}email{% endtrans %}: {{ app.user.email }}</p>
    <p>{% trans %}birpDate{% endtrans %}: {{ app.user.birthDate|date('d/m/Y') }}</p>
    <p>{% trans %}regDate{% endtrans %}: {{ app.user.createdAt|date('d/m/Y H:i:s') }}</p>
    

{% endblock %}
