<header class="bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if app.user %}
                            {% trans %}logged.as{% endtrans %}: {{ app.user.userIdentifier }}
                            {% else %}
                                {% trans %}guest{% endtrans %}
                            {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if app.user %}

                                <a class="dropdown-item" href="{{ path('app_profile')}}">{% trans %}profile.my{% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('app_users_list')}}">{% trans %}profile.others{% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('app_change_password')}}">{% trans %}profile.change_password.text{% endtrans %}</a>
                                <a class="dropdown-item" href="{{path('app_logout')}}">{% trans %}logout{% endtrans %}</a>
                            {% else %}
                                <a class="dropdown-item" href="{{ path('app_login')}}">{% trans %}login{% endtrans %}</a>
                            {% endif %}

                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>