{% extends 'base.html.twig' %}

{% block title %}{% trans %}Importuj użytkowników{% endtrans %}{% endblock %}

{% block body %}
<div>
    <h3>{% trans %}Import użytkowników{% endtrans %}</h3>
    {{ form_start(form) }}
        <div class="form-group row">
            <div class="col-12 col-sm-3 col-form-label">
                {{form_label(form.file)}}
            </div>
            <div class="col-12 col-sm-9">
                {{ form_widget(form.file) }}
            </div>
        </div>
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}
    {% if stats is not null %}
        <p class="text-success">Zaimportowano {{ stats.new|length }}nowych użytkowników</p>
        {% if stats.error|length >0 %}
            {% for num,error in stats.error %}
                <p class="text-danger">Wiersz {{ num }}: {{ error|importError }}</p>
            {% endfor %}
            {% endif %}
    {% endif %}
    <div class="alert alert-info mt-2">
        <p class="font-weight-bold">{% trans %}import.columns_order{% endtrans %}:</p>
        <ul>
            <li>{% trans %}firstName{% endtrans %}</li>
            <li>{% trans %}lastName{% endtrans %}</li>
            <li>{% trans %}email{% endtrans %}</li>
            <li>{% trans %}birthDate{% endtrans %}</li>
        </ul>
    </div>
</div>
{% endblock %}
