{% extends 'base.html.twig' %}

{% block title %}Strona główna{% endblock %}

{% block body %}

    <div class="btn-group btn-group-sm">
    <a href="{{ path('app_import_users') }}" class="btn btn-primary">Importuj użytkowników</a>
    <a href="{{ path('app_users_list') }}" class="btn btn-secondary">Lista użytkowników</a>
    </div>
{% endblock %}
