{% extends 'base.html.twig' %}

{% block title %}{% trans %}Lista użytkowników{% endtrans %}{% endblock %}

{% block body %}


    <div class="table-responsive">
        <table id="usersTable" class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans %}Id{% endtrans %}</th>
                    <th>{% trans %}firstName{% endtrans %}</th>
                    <th>{% trans %}lastName{% endtrans %}</th>
                    <th>{% trans %}email{% endtrans %}</th>
                    <th>{% trans %}birthDate{% endtrans %}</th>
                    <th>{% trans %}regDate{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in pagination %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.birthDate|date('d/m/Y') }}</td>
                        <td>{{ user.createdAt|date('d/m/Y H:i:s') }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6">{% trans %}Pusto{% endtrans %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
