<!DOCTYPE html>
<html lang="{{ default_lang }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-select.min.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery-3.5.1.min.js') }}"></script>
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>

    {{ include('default/header.html.twig') }}
    <div class="container">
        <div class="row">
            <div class="col-12 alert-container">
                <div class="row">
                    <div class="col-12">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message|raw }}
                                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">&times;</button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    {% block end_scripts %}
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    {% endblock %}
    </body>
</html>
