<h1>{% trans %}Utworzono nowe konto na Twój adres email{% endtrans %}</h1>

<p>{% trans %}Dane dostępowe do konta{% endtrans%}</p>
<p>{% trans %}Login{% endtrans %}: <strong>Twój adres email</strong></p>
<p>{% trans %}Hasło{% endtrans %}: <strong>{{ password }}</strong></p>


